<div class="d-flex justify-content-center align-items-center page">
  <div class="card">
    <div class="card-header" *ngIf="message !== ''">
      <div class="alert-danger text-center p-2">{{message}}</div>
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row mb-3">
          <div class="col-sm">
            <input type="text" name="user" placeholder="Usuario (*)" formControlName="user" id="user" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm">
            <input type="password" name="password" placeholder="Contraseña (*)" formControlName="password" id="password" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm">
            <button type="button" (click)="submit()" class="btn btn-primary btn-block">Ingresar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
