.restricted-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura de toda la pantalla */
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
